name: 游빍 Build and deploy examples

on:
  push:
    branches:
      - main

jobs:
  advanced-horizontal-worklog:
    name: Build & deploy 'advanced-horizontal-worklog' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/advanced-horizontal-worklog
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/advanced-horizontal-worklog/build
          target-folder: advanced-horizontal-worklog-example

  basic-horizontal:
    name: Build & deploy 'basic-horizontal' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/basic-horizontal
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/basic-horizontal/build
          target-folder: basic-horizontal-example

  basic-vertical:
    name: Build & deploy 'basic-vertical' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/basic-vertical
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/basic-vertical/build
          target-folder: basic-vertical-example

  horizontal-current-time:
    name: Build & deploy 'horizontal-current-time' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/horizontal-current-time
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/horizontal-current-time/build
          target-folder: horizontal-current-time-example

  horizontal-multiple-events:
    name: Build & deploy 'horizontal-multiple-events' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/horizontal-multiple-events
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/horizontal-multiple-events/build
          target-folder: horizontal-multiple-events-example

  horizontal-time-indicator:
    name: Build & deploy 'horizontal-time-indicator' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/horizontal-time-indicator
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/horizontal-time-indicator/build
          target-folder: horizontal-time-indicator-example

  vertical-current-time:
    name: Build & deploy 'vertical-current-time' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/vertical-current-time
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/vertical-current-time/build
          target-folder: vertical-current-time-example

  vertical-multiple-events:
    name: Build & deploy 'vertical-multiple-events' example
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./examples/vertical-multiple-events
    steps:
      - name: 游닇 Checkout
        uses: actions/checkout@v3
      - name: 游릭 Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
      - name: 游닍 Install dependencies
        run: npm ci --legacy-peer-deps
      - name: 游끵 Build
        run: npm run build
      - name: Deploy 游
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: examples/vertical-multiple-events/build
          target-folder: vertical-multiple-events-example
